
section{
    width: 100%;
    height: 800px;
    background-position:40rem;
    background-repeat: no-repeat;
    background-size: auto 800px;
    background-attachment: fixed;

}


#img1d {
    width: 40%;
    margin-left: 550px;
    border-left: 2px solid black;
    padding-left: 50;
    font-family: Roboto;
    font-size: 15px;
    margin-bottom: 0;
}

#description1{
    text-align: justify;
    text-align-last: center;
    text-justify: inter-word;
    padding-left: 330px;
    padding-right: 330px;
    margin-top: 30;
    width: 100%;
    display: flex;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 700;
}



/*-----------------Images---------------------*/

#a{
    background-image: url("/Project3/Journey1Copy/img/IMG_01.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#b{
    background-image: url("/Project3/Journey1Copy/img/IMG_02.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#c{
    background-image: url("/Project3/Journey1Copy/img/IMG_03.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#d{
    background-image: url("/Project3/Journey1Copy/img/IMG_04.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#e{
    background-image: url("/Project3/Journey1Copy/img/IMG_05.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#f{
    background-image: url("/Project3/Journey1Copy/img/IMG_06.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#g{
    background-image: url("/Project3/Journey1Copy/img/IMG_07.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#h{
    background-image: url("/Project3/Journey1Copy/img/IMG_08.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#i{
    background-image: url("/Project3/Journey1Copy/img/IMG_09.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#j{
    background-image: url("/Project3/Journey1Copy/img/IMG_10.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

#k{
    background-image: url("/Project3/Journey1Copy/img/IMG_11.png");
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    padding: 0;
}


/*-------- horizontal scroll ---------*/

.horizontal-scroll-wrapper {
    /*REMEMBER WIDTH AND HEIGHT ARE SWITCHED*/
    /* The height of each div*/
    width: 900px;
    /* The number of divs * the section width*/
    height: 1150px;
    /* set the wrapper transformation origin */
    transform-origin: right top;
    /* set the width size into the translateY function*/
    transform: rotate(-90deg) translateY(-900px);
    overflow-y: auto;
/*    overflow-x: hidden;*/
/*    position: absolute;*/
    /* DELETE the lines below if needed */
    /* border-style: dotted; */
}

.horizontal-scroll-wrapper>div {
    margin: 0;
    /* The height of each div*/
    width: 1000;
    /* The width of each div*/
    height: 900;
    /* set the div transformation origin */
    transform-origin: left top;
    /* set the wrapper's width size into the translateY function*/
    transform: rotate(90deg) translateY(-800px);
    /* DELETE the lines below if needed */
    /* border-style: solid; */
}

/* #### Generated By: http://www.cufonfonts.com #### */

@font-face {
font-family: 'Morganite Book';
font-style: normal;
font-weight: normal;
src: local('Morganite Book'), url('Morganite-Book.woff') format('woff');
}


@font-face {
font-family: 'Morganite Book Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Book Italic'), url('Morganite-BookItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite Thin';
font-style: normal;
font-weight: normal;
src: local('Morganite Thin'), url('Morganite-Thin.woff') format('woff');
}


@font-face {
font-family: 'Morganite Thin Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Thin Italic'), url('Morganite-ThinItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite ExtraLight';
font-style: normal;
font-weight: normal;
src: local('Morganite ExtraLight'), url('Morganite-ExtraLight.woff') format('woff');
}


@font-face {
font-family: 'Morganite ExtraLight Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite ExtraLight Italic'), url('Morganite-ExtraLightItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite Light';
font-style: normal;
font-weight: normal;
src: local('Morganite Light'), url('Morganite-Light.woff') format('woff');
}


@font-face {
font-family: 'Morganite Light Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Light Italic'), url('Morganite-LightItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite Medium';
font-style: normal;
font-weight: normal;
src: local('Morganite Medium'), url('Morganite-Medium.woff') format('woff');
}


@font-face {
font-family: 'Morganite Medium Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Medium Italic'), url('Morganite-MediumItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite SemiBold';
font-style: normal;
font-weight: normal;
src: local('Morganite SemiBold'), url('Morganite-SemiBold.woff') format('woff');
}


@font-face {
font-family: 'Morganite SemiBold Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite SemiBold Italic'), url('Morganite-SemiBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite Bold';
font-style: normal;
font-weight: normal;
src: local('Morganite Bold'), url('Morganite-Bold.woff') format('woff');
}


@font-face {
font-family: 'Morganite Bold Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Bold Italic'), url('Morganite-BoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite ExtraBold';
font-style: normal;
font-weight: normal;
src: local('Morganite ExtraBold'), url('Morganite-ExtraBold.woff') format('woff');
}


@font-face {
font-family: 'Morganite ExtraBold Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite ExtraBold Italic'), url('Morganite-ExtraBoldItalic.woff') format('woff');
}


@font-face {
font-family: 'Morganite Black';
font-style: normal;
font-weight: normal;
src: local('Morganite Black'), url('Morganite-Black.woff') format('woff');
}


@font-face {
font-family: 'Morganite Black Italic';
font-style: normal;
font-weight: normal;
src: local('Morganite Black Italic'), url('Morganite-BlackItalic.woff') format('woff');
}